@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Montserrat:wght@500&family=Neonderthaw&family=Red+Hat+Mono:wght@300;400&display=swap');

body {
  height: 100vh;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {

  font-family: 'Red Hat Mono', monospace;
  margin-left: 20px;
  width: 600px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.list {
  margin-top: 50px;
}

li {
  list-style: none;
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

}

.header {
  width: 600px;
}

input {
  font-size: calc(20px + 2vmin);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 50px;

}